.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background: rgb(0, 102, 153);
  color: white;
  font-size: 1.5rem;
}

.navigation .logo {
  width: 7rem;
  height: 3rem;
}

.menu {
  padding: 1rem;
  background: rgb(0, 102, 153);
  color: white;
  display: none;
}

.menu-desktop {
  display: none;
}


.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu ul>li {
  padding: 0.5rem
}

.menu ul>li a {
  text-decoration: none;
  color: white;
}

.menu ul>li a:hover {
  background-color: rgb(199, 247, 104);
  color: rgb(0, 102, 153);
  border-radius: 1rem;
}

@media (min-width:768px) {
  .menu-desktop {
    display: block;
    font-size: 1.2rem;
  }

  .menu-desktop > ul li a {
    text-decoration: none;
    color: white;
  }
  

  .menu-desktop ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }

  .menu-desktop ul:not(:last-child) {
    margin-right: 0.5rem
  }

  .menu-desktop ul>li a{
    padding: 0.3rem
  }

  .menu-desktop ul>li a:hover {
    background-color: rgb(199, 247, 104);
    color: rgb(0, 102, 153);
    border-radius: 1rem;
  }

  .hamburguer {
    display: none;
  }


}